.both-parent-state-search {
    display: flex;
}

.both-state-search {
    position: fixed;
    left: 29%;
    width: 33%;
    z-index: 898;
}

.both-update-state {
    left: 65%;
    position: fixed;
    background-color: #2e9abe;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    z-index: 898;
}

.filter-instructions {
    margin-top: 50px;
}

.both-filter-company {
    text-align: center;
}

.both-filter-company h1 {
    font-size: 20px;
    list-style: none;
}

.both-filter-company li {
    display: inline-grid;
    flex-wrap: nowrap;
}

.alert-button:hover,
.both-update-state:hover {
    background-color: #2e9cbeef;
}
