.login-google-button {
    display: flex;
    justify-content: center;
}

input[type=email], input[type=text], input[type=password], input[type=name], select, input[type=billing], input[type=ZIP], input[type=URL], input[type=phone] {
    width: 100%;
    padding: 12px 14px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=city], input[type=state] {
  width: 45%;
  padding: 12px 14px;
  margin: 6px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.standard-login-button {
    width: 100%;
    background-color: #2e9abe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.standard-login-button:hover {
    background-color: #2e9cbeef;
}
 
.standard-create-button {
  width: 100%;
  background-color: #2e9abe;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.standard-create-button:hover {
  background-color: #2e9cbeef;
}

.form {
    border-radius: 5px;
    background-color: #c6e9f1;
    padding: 10px;
    margin: 10px 0;
}