.alert {
    background: #ADD8E6;
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: xxx-large;
    line-height: 100%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.alert-button {
    background-color: gray;
    color: white;
    height: 10%;
    width: 40%;
    font-size: x-large;
    text-align: center;
    transform: translateX(75%);
    height: 75px;
}

.parent-state-search {
    display: flex;
}

.state-search {
    position: fixed;
    left: 29%;
    width: 33%;
    z-index: 900;
}

.update-state {
    left: 65%;
    position: fixed;
    background-color: #2e9abe;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    z-index: 900;
}

.alert-button:hover,
.update-state:hover {
    background-color: #2e9cbeef;
}