.type-search {
    position: fixed;
    top: 64px;
    left: 0;
    width: 18%;
    color: black;
    z-index: 950;
}

.search {
    position: fixed;
    top: 64px;
    left: 18%;
    width: 82%;
    color: black;
    z-index: 950;
}

.filter-instructions {
    margin-top: 110px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.filter-results {
    top: 100px;
}

@media (max-width: 768px) {
    .type-search {
        width: 35%;
    }
    .search {
        left: 35%;
        width: 65%
    }
}