.home-login {
    display: none;
}

.steps {
    text-align: center;
    margin-top: 8%;
    font-family: Apple Chancery;
    font-style: italic;
}

.disclaimer {
    text-align: center;
    margin-top: 3%;
    font-family: Apple Chancery;
    font-style: italic;
}

@media (min-width: 769px) {
    .phone-image {
        display: none;
    }
    .desktop-image {
        margin-top: 2%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .desktop-image {
        display: none;
    }
}