.home-login {
    display: none;
}

@media (min-width: 769px) {
    .phone-image {
        display: none;
    }
    .desktop-image {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .desktop-image {
        display: none;
    }
}